<html>
    <head></head>
    <body>
        <h>Teie parool on lähtestatud</h>
        
        <p>Teie IT-tugiisik on lähtestanud teie parooli.</p>

        <p>Teie kasutajanimi: <b>{{ username }}</b></p>
        <p>Ajutine parool: <b>{{ password }}</b></p>

        <p>Palun vahetage parool kohe välja meie <a href="http://ldap.povi.ee/">arvutipargi haldusliideses</a> ning kontrollige, et seal oleks korrektsed kontaktandmed.</p>

        <p>Kui teil on probleeme sisselogimisega võite otse pöörduda serveripargi hooldaja <a href="mailto:{{server_helpdesk.email}}?subject={{ username }} ei saa parooli vahetada">{{ server_helpdesk.name}}</a> poole.</p>
    </body>
</html>
