.icon{
    background-size: 32px;
    padding-left:40px;
    background-repeat:no-repeat;
    display:block;
    vertical-align:text-bottom;
    text-decoration:none;
}

.icon.disabled {
    opacity: 0.5;
}


.icon.computer{background-image:url("../img/iconmonstr-help-3.svg");}
.icon.computer.linux{background-image:url("../img/iconmonstr-linux-os-5.svg");}
.icon.computer.apple{background-image:url("../img/iconmonstr-apple-os-5.svg");}
.icon.computer.windows{background-image:url("../img/iconmonstr-windows-os-5.svg");}

.icon.group{background-image:url("../img/iconmonstr-user-31.svg");}
.icon.certificate{background-image:url("../img/iconmonstr-certificate-15.svg");}
.icon.log-in{background-image:url("../img/iconmonstr-login-icon.svg");}
.icon.add-user{background-image:url("../img/iconmonstr-user-8.svg");}
.icon.user.delete{background-image:url("../img/iconmonstr-user-11.svg");}
.icon.id-lookup{background-image:url("../img/iconmonstr-fingerprint-12-icon.svg");}
.icon.log-out{background-image:url("../img/iconmonstr-logout-5-icon.svg");}
.icon.home{background-image:url("../img/iconmonstr-home-6-icon.svg");}
.icon.change-password{background-image:url("../img/iconmonstr-refresh-2-icon.svg");}
.icon.force-password-change{background-image:url("../img/iconmonstr-lock-8-icon.svg");}
.icon.lock{background-image:url("../img/iconmonstr-lock-3-icon.svg");}
.icon.unlock{background-image:url("../img/iconmonstr-lock-11-icon.svg");}
.icon.address{background-image:url("../img/iconmonstr-compass-7-icon.svg");}
.icon.date,.icon.born{background-image:url("../img/iconmonstr-calendar-5-icon.svg");}
.icon.facebook{background-image:url("../img/iconmonstr-facebook-3-icon.svg");}
.icon.github{background-image:url("../img/iconmonstr-github-6-icon.svg");}
.icon.domain{background-image:url("../img/iconmonstr-home-6-icon.svg");}
.icon.linkedin{background-image:url("../img/iconmonstr-linkedin-3-icon.svg");}
.icon.location{background-image:url("../img/iconmonstr-map-8.svg");}
.icon.qr{background-image:url("../img/iconmonstr-qr-code-icon.svg");}
.icon.rss{background-image:url("../img/iconmonstr-rss-icon.svg");}
.icon.user{background-image:url("../img/iconmonstr-user-1.svg");}
.icon.post{background-image:url("../img/iconmonstr-document-file-2-icon.svg");}
.icon.skype{background-image:url("../img/iconmonstr-skype-icon.svg");}
.icon.tag, .icon.name {background-image:url("../img/iconmonstr-tag-icon.svg");}
.icon.time{background-image:url("../img/iconmonstr-time-3-icon.svg");}
.icon.training{background-image:url("../img/iconmonstr-speech-bubble-14-icon.svg");}
.icon.twitter{background-image:url("../img/iconmonstr-twitter-icon.svg");}
.icon.web{background-image:url("../img/iconmonstr-globe-4-icon.svg");}
.icon.authorized-keys,.icon.authorized-key{background-image:url("../img/iconmonstr-lock-7-icon.svg");}
.icon.my-domains{background-image:url("../img/iconmonstr-server-4-icon.svg");}
.icon.profile{background-image:url("../img/iconmonstr-id-card-4-icon.svg");}
.icon.password{background-image:url("../img/iconmonstr-key-2-icon.svg");}
.icon.mail{background-image:url("../img/iconmonstr-email-2-icon.svg");}
.icon.mobile{background-image:url("../img/iconmonstr-mobile-phone-6-icon.svg");}
.icon.search{background-image:url("../img/iconmonstr-magnifier-4-icon.svg");}
.icon.password{background-image:url("../img/iconmonstr-key-2-icon.svg");}
.icon.gender{background-image:url("../img/iconmonstr-gender-3.svg");}




button.icon.back{background-image:url("../img/iconmonstr-undo-icon-inverted.svg");}
button.icon.my-domains{background-image:url("../img/iconmonstr-server-4-icon-inverted.svg");}
button.icon.save{background-image:url("../img/iconmonstr-save-2-icon-inverted.svg");}
button.icon.cancel, button.icon.reset-password {background-image:url("../img/iconmonstr-x-mark-5-icon-inverted.svg");}
button.icon.log-in{background-image:url("../img/iconmonstr-login-icon-inverted.svg");}
button.icon.add-user{background-image:url("../img/iconmonstr-user-8-inverted.svg");}
button.icon.user.delete{background-image:url("../img/iconmonstr-user-11-inverted.svg");}
button.icon.id-lookup{background-image:url("../img/iconmonstr-fingerprint-12-icon-inverted.svg");}
button.icon.log-out{background-image:url("../img/iconmonstr-logout-5-icon-inverted.svg");}
button.icon.home{background-image:url("../img/iconmonstr-home-6-icon-inverted.svg");}
button.icon.change-password{background-image:url("../img/iconmonstr-refresh-2-icon-inverted.svg");}
button.icon.force-password-change{background-image:url("../img/iconmonstr-lock-8-icon-inverted.svg");}
button.icon.lock{background-image:url("../img/iconmonstr-lock-3-icon-inverted.svg");}
button.icon.unlock{background-image:url("../img/iconmonstr-lock-11-icon-inverted.svg");}
button.icon.password{background-image:url("../img/iconmonstr-key-2-icon-inverted.svg");}
button.icon.address{background-image:url("../img/iconmonstr-compass-7-icon-inverted.svg");}
button.icon.date{background-image:url("../img/iconmonstr-calendar-5-icon-inverted.svg");}
button.icon.mail{background-image:url("../img/iconmonstr-email-2-icon-inverted.svg");}
button.icon.facebook{background-image:url("../img/iconmonstr-facebook-3-icon-inverted.svg");}
button.icon.github{background-image:url("../img/iconmonstr-github-6-icon-inverted.svg");}
button.icon.domain{background-image:url("../img/iconmonstr-home-6-icon-inverted.svg");}
button.icon.linkedin{background-image:url("../img/iconmonstr-linkedin-3-icon-inverted.svg");}
button.icon.location{background-image:url("../img/iconmonstr-map-5-icon-inverted.svg");}
button.icon.qr{background-image:url("../img/iconmonstr-qr-code-icon-inverted.svg");}
button.icon.rss{background-image:url("../img/iconmonstr-rss-icon-inverted.svg");}
button.icon.user{background-image:url("../img/iconmonstr-user-6-icon-inverted.svg");}
button.icon.mobile{background-image:url("../img/iconmonstr-mobile-phone-6-icon-inverted.svg");}
button.icon.post{background-image:url("../img/iconmonstr-document-file-2-icon-inverted.svg");}
button.icon.search{background-image:url("../img/iconmonstr-magnifier-4-icon-inverted.svg");}
button.icon.skype{background-image:url("../img/iconmonstr-skype-icon-inverted.svg");}
button.icon.time{background-image:url("../img/iconmonstr-time-3-icon-inverted.svg");}
button.icon.training{background-image:url("../img/iconmonstr-speech-bubble-14-icon-inverted.svg");}
button.icon.twitter{background-image:url("../img/iconmonstr-twitter-icon-inverted.svg");}
button.icon.web{background-image:url("../img/iconmonstr-globe-4-icon-inverted.svg");}
button.icon.userdel{background-image:url("../img/iconmonstr-user-12-icon-inverted.svg");}
button.icon.busy{background-image:url("http://jxnblk.github.io/loading/loading-spin.svg");}

